@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

h1{
  color: #FFFFFF;
  font-family: 'Cinzel';
  text-align: center;
}

.digitando{
  color: #FFFFFF;
  font-family: 'Cinzel';
  text-align: center;
}

.digitando::after {
  content: "|";
  margin-left: 1px;
  opacity: 1;
  animation: pisca 0.7s infinite;
}

@keyframes inicializar {
  from {
    opacity: 0;
    transform: translate(0, -60px, 0);
  }

  to {
    opacity: 1;
    transform: translate(0, 0, 0);
  }
}

@keyframes pisca {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}