.avatar {
  position: relative;
  width: 25rem;
  height: 25rem;
  background-color: #1976d2;
  border-radius: 50%;
  display: flex; 
  align-items: 'center';
  overflow: hidden;
  margin: 0 auto;
}

.avatar::after {
  content: "";
  position: absolute;
  width: 25rem;
  height: 25rem;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #d400d4
  );
  animation: animate 4s linear infinite;
  animation-delay: -2s;
}

.avatar::before {
  content: "";
  position: absolute;
  width: 25rem;
  height: 25rem;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #00ccff
  );
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.avatar img {
  position: absolute;
  border-radius: 50%;
  width: 97%;
  height: 97%;
  inset: 6px;
  z-index: 1;
}
