.avatar {
  position: relative;
  width: 20rem;
  height: 20rem;
  /* background-color: #1976d2; */
  border-radius: 50%;
  display: flex; 
  align-items: 'center';
  overflow: hidden;
  margin: 0 auto;
}

.avatar::after {
  content: "";
  position: absolute;
  width: 20rem;
  height: 20rem;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #d400d4
  );
  filter: blur(0.5rem);
  animation: animate 4s linear infinite;
  animation-delay: -2s;
}

.avatar::before {
  content: "";
  position: absolute;
  width: 20rem;
  height: 20rem;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #00ccff
  );
  filter: blur(0.5rem);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.avatar img {
  position: relative;
  border-radius: 50%;
  width: 125%;
  height: 125%;
  top: -13%;
  left: -13%;
  z-index: 1;
}
